.Container-Intérêt-1 {
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    gap: 20px;
    width: 95%;
    padding: 20px 0;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.Container-Intérêt-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.Container-Intérêt-3 {
    background-color: rgba(0, 0, 255, 0.397);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 20px 0;
    width: 100%;
}

.Intérêts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 75%;

    p {
        background-color: rgba(128, 128, 206, 0.397);
        padding: 20px;
        border-radius: var(--border-radius);
    }
}

@media screen and (max-width: 750px) {
    .Container-Intérêt-2 {
        gap: 20px;
        width: 90%;

        h1 {
            font-size: var(--font-size-titre);
        }
    }

    .Intérêts {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
        width: 100%;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-texte);
    }
}

@media screen and (max-width: 400px) {
    .Intérêts{
      display: flex;
      flex-wrap: wrap;
        padding: 0 20px;
        width: 100%;
        gap: 10px;
    }
}